.idea/scopes/
.idea/codeStyles/
.idea/artifacts/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/runConfigurations/
.idea/.name
.idea/*.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
/*.bat
*.class
*.log
!scala/scala-impl/testdata/decompiler/**/*.class
!scala/runners/resources/org/jetbrains/plugins/scala/worksheet/*.class
.DS_Store
*~
target/
.bloop/
.bsp/

scala/scala-impl/testdata/debugger
scala/scala-impl/testdata/projects
scala/scala-impl/testdata/testingSupport
scala/scala-impl/testdata/localProjects/.ivy_cache
