.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
/out
/SDK/*SDK
/target
/*.bat
*.class
!scala/scala-impl/testdata/decompiler/**/*.class
!scala/scala-runners/resources/**/*.class
out
build
.DS_Store
*~
target/
tools/

scala/scala-impl/testdata/debugger
scala/scala-impl/testdata/projects
scala/scala-impl/testdata/testingSupport