.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/.name
.idea/*.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
/classes
/dist
/out
/SDK/*SDK
/target
/*.bat
*.class
out
build
.DS_Store
*~
target/

testdata/debugger